{% extends 'AppCoder/padre.html' %}
{% load  static %}

{% block contenido %}

<h3>Acerca De Mi</h3>

<h5>Hola! Mi nombre es Dario Ruiz soy un estudiante de ingenieria en 
    informatica de la UNJU(Universidad Nacional de Jujuy)
    Tengo 24 años y este es mi proyecto web que tratara sobre una pagina de registro de trabajadores de una empresa 
    de las cuales una persona pueda Crear registro de trabajadores,editar los mismos y eliminarlos pero siempre y cuando este registrado en la pagina,como tambien contactarse con otros usuarios mediante un sistema de mensajeria.
</h5>

{% endblock  %}